@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+HR+Lijeva:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  all: unset;
}

::selection {
  color: rgb(169, 78, 255);
  background-color: #d09dff38;
}

.action-icon {
  font-size: 25px !important;
}

@media (max-width: 767px) {
  .action-icon {
    font-size: 15px !important;
  }
}

/* nav {
  animation: loading .5s ease-in-out;
}

nav .logo {
  animation: loading 1s ease-in-out;
}

nav li:nth-child(1) {
  animation: loading 1s ease-in-out;
}

nav li:nth-child(2) {
  animation: loading 1.2s ease-in-out;
}

nav li:nth-child(3) {
  animation: loading 1.4s ease-in-out;
}

nav button:nth-child(1) {
  animation: loading 1.6s ease-in-out;
}

nav button:nth-child(2) {
  animation: loading 1.8s ease-in-out;
}
div .image-load {
  animation: loading 1s ease-in-out;
}

div .heading-load {
  animation: loading 1s ease-in-out;
}
div .para-load {
  animation: loading 1.2s ease-in-out;
}
div .button-load {
  animation: loading 1.4s ease-in-out;
} */

.load{
   animation: loading 1s ease-in-out ;
}


@keyframes loading {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }

}